.userBadge{
  border-radius: 90px;
  width: auto;
  height: auto;
  background: #E0E9F9;
  color: #6f9ae8;
  align-items: center;
  display: flex;
  font-size: 14px;
  justify-content: center;
  top: 2px;
  position: relative;
}

ion-item-option{
  width: 20%;
}

.butt {
  padding-left: 10%;
  padding-right: 10%;
}
