<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
    <ion-button (click)="back()">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
  </ion-buttons>
    <ion-title>
      Soin Detail
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br><br><br>
  <ion-card>
    <ion-card-content>
      <ion-card-header>{{soinService.currentSoin.titre}}</ion-card-header>
      <ion-item lines="none">{{soinService.currentSoin.description}}</ion-item>
      <ion-button (click)="lectureYoutube(soinService.currentSoin.youtubeId)">lecture</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
